.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#playButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color:#d31e79;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#playButton:hover {
    background-color: #7c1c5e;
}
